# Dependencies
node_modules

# Build outputs
dist
storybook-static

# Testing and coverage
coverage
**/*.vitest-temp.json

# Logs and debug files
logs
*.log
*storybook.log

# Cache and temporary files
.eslintcache
temp
.cache/

# System files
.DS_Store
